<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizza Utenti</title>
</head>
<body>
    <h1>Utenti Registrati</h1>
    
    <table border="1">
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Email</th>
            <th>File</th>
            <th>Approvato</th>
            <th>Numero Tessera</th>  <!-- Aggiunta della colonna per il numero tessera -->
            <th>Manuale</th>  <!-- Aggiunta della colonna "manuale" -->
            <th>Azioni</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.nome }}</td>
            <td>{{ user.cognome }}</td>
            <td>{{ user.email }}</td>
            <td><a href="{{ url_for('download_file', filename=user.file) }}">{{ user.file }}</a></td>
            <td>{{ user.approvato }}</td>
            <td>
                <form action="{{ url_for('update_tessera', user_id=user.id) }}" method="POST">
                    <input type="number" name="numero_tessera" value="{{ user.numero_tessera }}" placeholder="Numero Tessera" />
                    <button type="submit">Salva</button>
                </form>
            </td>
            <td>
                <form action="{{ url_for('update_manual', user_id=user.id) }}" method="POST">
                    <select name="manuale">
                        <option value="No" {% if user.manuale == 'No' %}selected{% endif %}>No</option>
                        <option value="Sì" {% if user.manuale == 'Sì' %}selected{% endif %}>Sì</option>
                    </select>
                    <button type="submit">Salva</button>
                </form>
            </td>
            <td>
                <form action="{{ url_for('update_approval', user_id=user.id) }}" method="POST">
                    <button type="submit">Approva</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
